<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Sean Spence</h1>
 <p>Here's a bit about myself. I previously attended the highschool Kingston College and i'm now currently attending the University of the
    West Indies pursuing a bachelor in Computer Science. I love to play video games and watch anime and I also read some spare books in my
    free time. I love to swim and used to be a national triahtlon ahtlete representing my country, Jamaica.
 </p>
</body>
</html>
